// Color variables
$white: #ffffff;
$off-white: #eeeeee;
$lt-gray: #dddddd;
$bg-gray: #AfAfAf;
$adr-black: #0f0f0f;
$indigo: #303f9f;
$dark-indigo: #1a237e;
$light-indigo: #7986CB;

// Height variables
$carousel-height: 300px;

// Mixins
@mixin zero-margin ($pad-up-dn: 0, $pad-left-right: 0) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

// Styles
body {
  padding: 50px 0 0;
  z-index: 0;
}
.row-header {
  @include zero-margin(0, 0);
}
.navbar-inverse {
  background: $indigo;
  color: $white;
  .navbar-nav>.active>a {
    background: $dark-indigo;
    color: $white;
    &:hover {
      background: $dark-indigo;
      color: $white;
    }
    &:focus {
      background: $dark-indigo;
      color: $white;
    }
  }
  .navbar-nav>.open>a {
    background: $dark-indigo;
    color: $white;
    &:hover {
      background: $dark-indigo;
      color: $white;
    }
    &:focus {
      background: $dark-indigo;
      color: $white;
    }
  }
  .navbar-nav {
    .open {
      .dropdown-menu>li>a {
        background-color: $indigo;
        color: $off-white;
        &:hover {
          color: #000000;
        }
      }
      .dropdown-menu {
        background-color: $indigo;
        color: $off-white;
      }
    }
  }
}
.jumbotron {
  @include zero-margin(70px, 30px);
  background: $light-indigo;
  color: $off-white;
}
.row-content {
  @include zero-margin(50px, 0);
  border-bottom: 1px ridge;
  min-height: 400px;
}
.carousel {
  background: $dark-indigo;
  .item {
    height: $carousel-height;
    img {
      left: 0;
      min-height: $carousel-height;
      position: absolute;
      top: 0;
    }
  }
}
#carouselButtons {
  bottom: 0;
  position: absolute;
  right: 0;
}
.affix {
  top: 100px;
}
.tab-content {
  border-bottom: 1px solid $lt-gray;
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  padding: 10px;
}
.row-footer {
  @include zero-margin(20px, 0);
  background-color: $bg-gray;
}
address {
  color: $adr-black;
  font-size: 80%;
  margin: 0;
}
